/* Universal Selector */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Sets the background color for the body section of page */
body {
    background-color: #d9dcd6;
}

/* Linked header element - sets padding, fonts, color, and background color of header element */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* sets h1 display and font size */
h1 {
    display: inline-block;
    font-size: 48px;
}

/* sets color of class .seo */
.seo {
    color: #d9dcd6;
}

/* Changed to nav tag - sets padding and margin sizes, moves to the right, sets font and size */
nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* removed unnecessary list formatting */

/* sets the display and margin style of the nav links */
nav a {
    display: inline-block;
    margin-left: 25px;
}

/* sets link color and removes underline */
a {
    color: #ffffff;
    text-decoration: none;
}

/* sets paragraph font sizes*/
p {
    font-size: 16px;
}

/* Updated class name - sets class dimensions, bottom margin size, backgorund image file, and centers */
.background {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* Updated class names */
/* sets picture to the left, right margin size */
.picture-left {
    float: left;
    margin-right: 25px;
}

/* sets picture to the right, left margin size */
.picture-right {
    float: right;
    margin-left: 25px;
}

/* sets main width, display, and left margin size */
main {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* sets aside right margin and padding size, positioning below left and right floated elements, floats to the right, sets dimensions, font, and background color */
aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* Consolidated benefit selector formatting - sets bottom margin size and font color */
.benefit-sub {
    margin-bottom: 32px;
    color: #ffffff;
}

/* Consolidated h3 formatting - sets bottom margin size, centers text */
h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Consolidated aside img formatting - sets img under class .benefits display, centering, maximum width */
aside img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Consolidated content selector formatting - sets class .content-sub bottom margin size, padding and height sizes, font, background color, and font color*/
.content-sub {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Consolidated main img formatting - sets img under class .content maximum height */
main img {
    max-height: 200px;
}

/* Consolidated h2 formatting - sets h2 under class .content bottom margin and font size sizes */
h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Linked footer element - sets padding size, positions under right and left floats, sets font, center element */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* Linked h4 element - sets h4 font size */
h4 {
    font-size: 20px;
}
